html, body {
    font-family: avenir;
    margin: 0px;
}

/* Message banner */
.msg_banner{
    background: #011936
}

.msg_banner_content{
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.msg_banner_text{
    flex-grow: 1;
    line-height: 1.4;
}

.msg_banner_close{
    background: none;
    border: none;
    cursor: pointer;
}

.msg_banner_text,
.msg_banner_close > span {
    color: #F3E4DE;
}

body h1 {
    text-align: left;
    color: #011936;
    font-size: 40px;
    line-height: 48px;
}

body h2 {
    font-family: avenir;
    font-size: 38px;
    line-height: 34px;
    color: #B0947D;
    margin-top: 10px;
    margin-bottom: 20px;
}

body h3 {
    font-family: avenir;
    font-size: 26px;
    line-height: 36px;
    color: #011936;
    margin-top: 10px;
    margin-bottom: 20px;
}

body h4 {
    font-family: avenir;
    font-size: 20px;
    line-height: 32px;
}

body p {
    font-family: avenir;
    font-size: 16px;
    line-height: 24px;
}

/* home page image */
.homePage_container {
    position: relative;
    text-align: left;
    color: #F3E4DE;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

/* home page image */
.text_centered {
    font-family: avenir;
    font-weight: bold;
    font-size: 3.4vw;
    line-height: 5vw;
    color: #011936;
    position: absolute;
    top: 30%;
    left: 50%;
    display: block;
    padding: 0 5% 0 0;
    /* transform: translate(-50%, -50%); */
}

.homePage_container .button1 {
    font-family: avenir;
    position: inherit;
    top: 110%;
    left: 0%;
    background-color: #B0947D;
    color: #F3E4DE;
    font-size: 18px;
    padding: 5px 80px;
    border: none;
    cursor: pointer;
    text-align: center;
}
.homePage_container .button1:hover {
    background-color: #AEB1D2;
}

/* lower image section text */
.homePage_text0 {
    margin: 0 0 1.45rem;
    padding: 40px 140px 10px 140px;
    text-align: center;
}

.homePage_text1_container{
    background-color: #F3E4DE;
    padding: auto;
    margin: auto;
}
.homePage_text1{
    text-align: center;
    padding: 40px 0 20px 0;
    color: #011936;
}

/* Nav Bar */
.topnav {
    overflow: hidden;
    margin-bottom: 10px;
}

.topnav a {
    float: left;
    color: #011936;
    text-align: center;
    padding: 25px 40px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 2px solid transparent;
}

.topnav a:hover {
    /* background-color: #B0947D; */
    color: #011936;
    border-bottom: 2px solid #AEB1D2;
    text-decoration: none !important
}

.topnav a.active {
    /* background-color: #011936; */
    color: #B0947D;
}

/* Map page Title */
.map_title{
    margin-left: 20px;
}

/* MAPBOX */
.map {
    position: absolute;
    width: 96%;
    height: 860px;
    top: 0;
    bottom: 0;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.mapboxgl-popup {
    max-width: 200px;
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-content {
    font: 400 16px/24px 'avenir', 'avenir', sans-serif;
    padding: 0;
    width: 260px;
}

.mapboxgl-popup-content h4 {
    background: #465362;
    color: #F3E4DE;
    margin: 0;
    padding: 20px;
    font-weight: 700;
    margin-top: -15px;
    margin-left: -10px;
    margin-right: -10px;
}

.mapboxgl-popup-content div {
    padding: 10px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
    margin-top: 15px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
    border-bottom-color: #465362;
}

/* MARKER Custom */
map.addSource('places', {
    type: 'geojson',
        data: stores
}

.marker {
    border: none;
    cursor: pointer;
    height: 10px;
    width: 10px;
}
